.page-header {
}

.page-header-container {
    margin: 0 15px 32px;
}

.page-content__menu {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.page-content__menu-nav {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    height: 100%;
}

.page-content__menu-title {
    font-size: 20px;
    padding: 24px 26px 0;
    margin-bottom: 1rem;
}

.page-content__menu-list {
    padding-bottom: 18px;
}

.menu-list-item {
    padding: 5px 26px;
    cursor: pointer;

    &.focus {
        border-left: 2px solid #47991f;

        a {
            margin-left: -2px;
            color: #3d464d;
            font-weight: 500;
        }
    }

    a {
        display: block;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5;
        color: #a3a3a3;
        text-decoration: none;
        background-color: transparent;
    }

    &:hover {
        background-color: #f0f0f0;
    }
}
