.profile__info {
    width: 100%;
    padding: 0 15px;
}

.profile__info-title {
    padding: 1.5rem 2rem;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    border: 2px solid #f0f0f0;
}

.profile__info-body {
    padding: 2rem;
    border: 2px solid #f0f0f0;
}
